<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Add Tailwind CSS CDN link -->
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-purple-100">

  <%- include('../header.ejs', { status: "" }) -%>

  <!-- Mobile menu (hidden by default) -->
  <div class="container mx-auto my-8 mt-24  px-4">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      <!-- Card 1 -->
      <% data.forEach((iteam)=>{  %>
      <a href=<%= `post/${iteam._id}` %>>
        <div class="bg-white p-6 rounded-lg shadow-md">
          <img src=<%= iteam.image %> alt=<%= iteam.title %> class="mb-4 rounded-md">
          <h2 class="text-xl font-semibold mb-4"><%= iteam.title %></h2>
          <p><%= (iteam.content).substring(0,50) %></p>
        </div>
      </a>

      <%})%>

    </div>
  </div>

  <!-- Mobile menu (hidden by default) -->



  <!-- JavaScript to toggle mobile menu visibility -->
  <script>
    const mobileMenuToggle = document.getElementById('mobile-menu-toggle');
    const mobileMenu = document.getElementById('mobile-menu');

    mobileMenuToggle.addEventListener('click', () => {
      mobileMenu.classList.toggle('hidden');
    });
  </script>

</body>

</html>